*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #1E0A0A;
    font-family: Arial, Helvetica, sans-serif;
}
.tablon-joyce{
    background-color: #3B1414;
    border: 7px solid #4B2E05;
    margin: 0.3% 25%;
    padding-bottom: 10%;
}
.contenedor-mensaje{
    font-size: 5rem;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 1%;
    color: gold;
    text-align: center;
    background-color: black;
    padding-bottom: 3%;
    border: 3px solid gold;
}

