*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header-mando{
    background-color: grey;
    color: rgb(16, 241, 148);
    margin-top: 2%;
    margin-bottom: 1%;
    
}
#inventario-principal{
    border: 2px solid grey;
    margin-left: 22%;
    margin-right: 22%;
    border: 8px solid grey;
}
#seccion-principal{
    color: rgb(16, 241, 148);
    font-size: 2rem;
    margin: 3% 0;
    background-color: black;
}
section h3{
    color: pink;
    border: 2px solid pink;
    font-size: 2rem;
    margin: 3% 0;
}

article h4{
    background-color: black;
    color: whitesmoke;
    margin: 2%;
}

article p{
    background-color: black;
    color: whitesmoke;
    padding-bottom: 1%;
}

footer{
    margin-top: 1%;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    padding-bottom: 5%;
}


