*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(37, 37, 37);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header-mando{
    background-color: grey;
    color: rgb(16, 241, 148);
    margin-top: 2%;
    margin-bottom: 1%;
    
}
#inventario-principal{
    background-color: grey;
    border: 2px solid grey;
    margin-left: 22%;
    margin-right: 22%;
}
#seccion-principal{
    color: rgb(16, 241, 148);
    font-size: 2rem;
    margin: 3% 0;
    background-color: black;
}
section h3{
    color: pink;
    border: 2px solid pink;
    font-size: 2rem;
    margin: 3% 0;
}

article h4{
    color: whitesmoke;
}

.articulo arma{

}

footer{

}